Debug/
Bin/
Obj/
packages/
node_modules/
dist/
deploy/
logs/
.vs
.config
*.user
*.zip
*.csv
*.txt
*.xlsx
*.bat
*.log*
*.bak
import.sql

# geospatial files
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.xml
*.kml
*.kmz
*.qgz
*.geojson

# editor files
.vscode
.cursor

.env
.env.local
.env.*.local
appsettings.*.json




